.contact_page {
    height: 100vh;
    width: 100%;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
    padding-top: 60px;

    .contact_page_container {

        width: 90vw;


        .contact_page_wrapper {
            display: flex;
            // flex-direction: row;
            
            .ui.form {
                padding: 2rem;
                flex: 1;
            }

        }
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .contact_page {


        .contact_page_container {

            .contact_page_wrapper {
                flex-direction: column;
                
            }
        }
    }

}