.homepage {
    background: #161415 url(../../assets/homepage.gif) no-repeat top center;
    background-size: contain ;
    text-align: center;
    overflow: hidden;
    height: 100%;
    top: 0;

    .homepage-container {
        color: white;
        width: 95%;
        margin: 0 auto;
        height: 100vh;

        .homepage_myname {
            // font: 80px/1em 'opensans-bold', 'Verdana';
            font: 4rem 'opensans-bold', 'Verdana';

            text-shadow: 0px 1px 3px rgba(0, 0, 0, .8);
            color: white;
            
            display: flex;
            justify-content: center;

        }

        .homepage_subtitle {
            color: #95a3a3;
            font: 20px/1.9em 'librebaskerville-regular' , 'Open Sans';
            text-shadow: 0 1px 2px rgba(0,0,0,.5);
        }

        .my_social_info {
            width: inherit;

            .social_media_icons {
                position: absolute;
                width: inherit;
                height: 5rem;
            }

            .naviation {
                display: flex;
                flex-direction: column;
                float: right;
                text-align: left;
            }
        }
    }

    .test {
        color: white;
        height: 100%;
    }
}