* {
  box-sizing: border-box;
}

html { 
  min-height: 100vh;
  width: 100%;

  body {
    margin: 0;
  }

  body > #root {
    min-height: -webkit-fill-available;
    // min-height: 100vh;

    .app {
      position: relative;
    }
  }

  // body > #root > div {
  //   min-height: -webkit-fill-available;
  //   min-height: 100vh;
  //   // height: 100vh;
  // }

  // body {
      
  
  //     // font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  //     //   "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  //     //   sans-serif;
  //     // -webkit-font-smoothing: antialiased;
  //     // -moz-osx-font-smoothing: grayscale;
  //     min-height: -webkit-fill-available;
  //     min-height: 100vh;


      
  // }
}


// code {
// font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
//     monospace;
// }
  