.forgot_pw_page {

    height: 100vh;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    .forgot_pw_page_container {
        width: 80%;
        margin: auto;
        // display: flex;
        // align-items: center;
    }
}