.navbar {
    width: 100%;
    margin-bottom: 0;
    height: 60px;
    left: 0;
    z-index: 100;
    position: fixed;
    top: 0;

    .navbar_container {
        display: flex;
        height: 100%;
        align-items: center;
        padding: 0 2.5rem; // It won't inherit from its parent
        background: transparent;
        width: 100%;

        .navbar_title a {
            font-size: 20px;
            text-decoration: none;
            color: #FFFFFF;
            height: 100%;
        }

        .navbar_title a:hover {
            color: #cfb87c;
            height: 100%;
        }

        .spacer {
            -webkit-flex: 1;  /* Safari 6.1+ */
            -ms-flex: 1;  /* IE 10 */
            flex: 1;
        }

        .navbar_items {
            height: 100%;
        }

        .navbar_items ul {
            display: flex;
            margin: 0;
            padding: 0;
            list-style: none;
            height: 100%;

        }

        .navbar_items button {
            padding: 0 0.5rem;
            border: none;
            background: transparent;
            height: 100%;
            color: #FFFFFF;
        }

        .navbar_items a {
            font-weight: 600;
            padding: 0 1rem;
            height: 100%;
            display: flex;
            align-items: center;
            text-decoration: none;
        }

        .navbar_items button:hover {
            text-decoration: none;
            color: #cfb87c;
            height: 100%;
            display: flex;
            align-items: center;
        }

    }

}