.adminlayout_page {
    background: #161415 url(../../assets/homepage.gif) no-repeat top center;
    // background: url(../../assets/homepage.gif) no-repeat center center fixed;

    background-size: cover;
    width: 100%;
    min-height: 100vh;
    height: 100vh;
    top: 0;

    .adminlayout_container {
        width: 95%;        
        margin: 0 auto;
        height: 100%;

        display: flex;
        align-items: center;

        .adminlayout_wrapper {
            margin: auto;
            width: 80%;

            .ui.placeholder.segment {
                margin: 0 auto;
    
                .ui.grid  {

                }

                .divider_none {
                    display: none;
                }

            }

            .ui.placeholder.segment .column .button, .ui.placeholder.segment .column .field, .ui.placeholder.segment .column textarea, .ui.placeholder.segment .column>.ui.input {
                width: 80%;
                max-width: unset;
            }
        }


    }

}


@media only screen and (max-width: 767px) {
    .ui.stackable.grid {

        .divider_responsible {
            width: 100%;
        }

    }
}
