.login_section {

    .ui.form {

        .login_options {
            display: flex;

            a {
                display: flex;
                align-items: center;
            }
        }
    }
}