.login_section {

    .ui.form {

        .login_options {
            display: flex;

            p {
                text-align: center;
                width: 50%;
                display: flex;
                align-items: center;

                a {
                    margin: auto;
                }
            }
        }

    }
}